table.meniu{
    border:9px solid #6082cb;
    width: 100%;
    border-radius: 10%;
    background-color: #609DCB;
  }
table td{
  
  border-right: 0.1em solid white;
  background-color: #609DCB;
  padding: 10px;
  color: aliceblue;
  margin-left: 2px;
}
 table td.firstButton{
  background-color: #3b62cc;
 
 }

 table td.lastButton{
  border-right: 0;
 }
.descriptionBox>ul>li{
  border-bottom: 2px dotted black;
  font-size: 20px;
  margin-bottom: 3px;
}

div.imageBorder{
  display: inline-block;
  width: auto;
  padding: 0%;
  height: auto;
  background-color: white;
  border: 3px solid rgb(146, 145, 145);
  
}

div.descriptionBox{

  display: inline-block; 
  border: 3px solid rgb(146, 145, 145);
  width: 300px;
  height: 209px;
  vertical-align: top;
}

div.descriptionBox>ul>li.lineSolid{
 border-bottom: 1px solid black;
}

div.descriptionBox>ul>li.lastLi{
  border-bottom:0;
 }

.image1>img{
  height: 205px;
  width: 610px;
  
}

.image2>img{
  height: 205px;
  width: 390px;
  
}

.image>img{
  width: 130px;
  height: 130px;
}
.thirdRow{/*border: 1.5px solid black;*/
  width: auto;
  margin-top: 10px;

}

.container{
  /*border: 1.5px solid black;*/
  display: inline-block;
  overflow: auto;
}
div.smallImageBorder{
  display: inline-block;
  border: 2.5px solid rgb(146, 145, 145);
  width: 130px;
  height: 130px;
  padding: 0%;
}

div.textBox{
  /*border: 1.5px solid black;*/
  display: inline-block;
  vertical-align: top;
  width: 297px;
  height: 140px;
  background-color: #d5dfe6;
 
}

div.textBox>p.title{
  color: rgb(34, 97, 233);
}

div.textBox>p{
  font-family:'Times New Roman', Times, serif;
  font-size: 15px;
}

div.textBox>a{
  font-family:'Times New Roman', Times, serif;
  /*border: 1.5px solid black;*/
  border-radius: 13%;
  background-color: green;
  padding: 7px 20px;
  font-size: 15px;
  margin-left: 65%;
  width: 200px;
  text-decoration: none;
  color: white;
}