table.meniu{
    border:1px solid black;
    width: 100%;
  }
table td{
  border:0.1em solid white;
  background-color: #609DCB;
  padding: 10px;
  color: aliceblue;
}

.descriptionBox>ul>li{
  border-bottom: 2px dotted black;
  font-size: 20px;
}

div.imageBorder{
  display: inline-block;
  width: auto;
  padding: 0%;
  height: auto;
  background-color: white;
  border: 1.5px solid black;
  
}

div.descriptionBox{

  display: inline-block; 
  border: 1.5px solid black;
  width: 300px;
  height: 209px;
  vertical-align: top;
}

.image1>img{
  height: 205px;
  width: 620px;
  
}

.image2>img{
  height: 205px;
  width: 396px;
  
}

.image>img{
  width: 130px;
  height: 130px;
}
.thirdRow{/*border: 1.5px solid black;*/
  width: auto;
  margin-top: 10px;

}

.container{
  /*border: 1.5px solid black;*/
  display: inline-block;
  overflow: auto;
}
div.smallImageBorder{
  display: inline-block;
  border: 2.5px solid rgb(146, 145, 145);
  width: 130px;
  height: 130px;
  padding: 0%;
}

div.textBox{
  /*border: 1.5px solid black;*/
  display: inline-block;
  vertical-align: top;
  width: 297px;
  height: 140px;
  background-color: #d5dfe6;
 
}

div.textBox>p.title{
  color: rgb(34, 97, 233);
}

div.textBox>p{
  font-family:'Times New Roman', Times, serif;
}

div.textBox>a{
  font-family:'Times New Roman', Times, serif;
  /*border: 1.5px solid black;*/
  border-radius: 13%;
  background-color: green;
  padding: 7px 20px;
  font-size: 15px;
  margin-left: 65%;
  width: 200px;
  text-decoration: none;
  color: white;
}